<div class="card">
  <div class="card-body">

    <form>

      <fieldset>
        {{product}}

        <div class="container">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
              <label> Nom du produit </label>
            </div>

            <div class="col-md-4"  >


              <input type="text"
                     class="form-check-input"  value="{{product}}" >


            </div>
          </div>
          <!--<div class="col-md-1"></div>-->
          <!--</div>-->
          <!--<br>-->
          <!--</div>-->

          <!--<div class="container">-->
          <!--<div class="row">-->
          <!--<div class="col-md-1"></div>-->
          <!--<div class="col-md-3">-->
          <!--<label>Prix de vente </label>-->
          <!--</div>-->
          <!--<div class="col-md-4">-->
          <!--<input type="number"-->

          <!--value="product.prix">-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->

          <!--<div class="col-md-3">-->
          <!--<small *ngIf="formError.prix && !myform.controls.prix.valid" class="text-danger">-->
          <!--Champ doit etre rempli .-->
          <!--</small>-->
          <!--<small *ngIf="myform.controls.prix.valid" class="text-success">-->
          <!--Validé.-->
          <!--</small>-->
          <!--</div>-->
          <!--<div class="col-md-3"></div>-->

          <!--</div>-->
          <!--</div>-->
          <br>
          <!--<div class="container">-->
          <!--<div class="row">-->
          <!--<div class="col-md-1"></div>-->
          <!--<div class="col-md-3">-->
          <!--<label>Prix d'achat </label>-->
          <!--</div>-->
          <!--<div class="col-md-4" >-->
          <!--<input type="number"-->
          <!--value="{{product}}">-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->

          <!--<div class="col-md-4">-->
          <!--<small *ngIf="formError.prixAchat && !myform.controls.prixAchat.valid"class="text-danger">-->
          <!--Champ doit etre rempli .-->
          <!--</small>-->
          <!--<small *ngIf="myform.controls.prixAchat.valid" class="text-success">-->
          <!--Validé.-->
          <!--</small>-->

          <!--</div>-->
          <!--<div class="col-md-4"></div>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
        </div>
      </fieldset>


      <div class="container">
        <div class="row">
          <div class="col">
          </div>
          <div class="col">
          </div>
          <div class="col">
          </div>
          <div class="col">

            <a routerLink="/component/produits" [routerLinkActive]="['router-link-active']">
              <button class="col-lg-9 col-md-4" type="button" class="btn btn-info">Annuler</button>
            </a>
            <button type="submit" class="btn btn-primary" (click)="updateProduct(product)">Submit</button>

          </div>
        </div>
      </div>
    </form>
  </div>

</div>


