<div>


  <div class="card">
    <!--<img class="card-img-top img-responsive" src="assets/images/big/img1.jpg" alt="Card image cap">-->
    <div class="card-body">

      <h2 class="card-title">Produit</h2>

      <table class="table ">

        <thead>

        <tr>
          <th width="90%"></th>

          <th>
            <div class="col-lg-3 col-md-3">
              <a routerLink="/component/ajoutproduit" [routerLinkActive]="['router-link-active']">
                <button type="button" class="btn btn-outline-info"><i class="fa "></i> Ajout Produit</button>
              </a>


            </div>

          </th>
        </tr>
        <tr width="30%"></tr>
        </thead>
      </table>
      <table class="table ">

        <thead>

        <tr>
          <th>Nom du produit</th>
          <th>Prix</th>
          <th>Prix d'achat</th>
          <th>Modifier</th>
          <th>Supprimer</th>
        </tr>
        </thead>

        <tbody>

        <tr *ngFor="let product of  products">

          <td>{{product.nom}}</td>
          <td>{{product.prix}}</td>
          <td>{{product.prixAchat}}</td>
          <td>
            <div class="col-lg-7 col-md-4">
              <!--<a routerLink="['/component/modifierProduit',product.id]" [routerLinkActive]="['router-link-active']">-->
                <button type="button" class="btn btn-block btn-outline-success " (click)="goToUpdateProduct(product.id)">  update</button>
              <!--</a>-->
            </div>
          </td>
          <td>
            <div class="col-lg-7 col-md-4">
              <button type="button" data-toggle="modal" data-target="#infos" class="btn btn-block btn-outline-warning">
                delete
              </button>

            </div>

            <div class="modal" id="infos">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Supprimer un produit</h4>
                    <button type="button" class="close" data-dismiss="modal">
                      <span>&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    voulez-vous vraiment supprimer le produit ?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                    <button type="button" class="btn btn-primary  " (click)="deleteProduct(product.id)"
                            data-dismiss="modal">Oui
                    </button>
                  </div>
                </div>
              </div>
            </div>

        </tr>

        </tbody>

      </table>

    </div>

  </div>


</div>





